/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  z-index: 2000;
}

#nprogress .bar {
  background: #2ea195;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #2ea195, 0 0 5px #2ea195;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Category Slider */
.rec-dot {
  display: none;
}

.rec-arrow {
  background-color: grey !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: white !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;
}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}
